

  <% if @users.any? %>
      
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render 'acceptordecline' %>
      </ul>
      <%= will_paginate %>
    <% end %>
  
      <% end %>
